:host {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.main {
	background-color: var(--mainBgColor);
	padding: 40px 0;

	transition-timing-function: var(--transitionTimingFunction);
	transition-duration: var(--transitionDuration);
	transition-property: background-color;
}