@font-face {
	// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
	font-family: "Roboto"; 
	// адрес шрифта и тип 
	src: url('/assets/fonts/Roboto/Roboto-Regular.ttf') format("truetype"); 
	font-style: normal; 
	font-weight: 400; 
}

@font-face {
	// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
	font-family: "Roboto"; 
	// адрес шрифта и тип 
	src: url('/assets/fonts/Roboto/Roboto-Bold.ttf') format("truetype"); 
	font-style: normal; 
	font-weight: 700; 
}